*{
    font-family: sans-serif;
}

body {
    padding: 10px;
}

header{
    background-image: linear-gradient(to right, blue, navy);
    color: white;
    text-align: center;
    font-size: 40px;
}

.weatherContainer {
    display: flex;
    flex-flow: column, wrap;
}

.interactiveContent {
    min-height: 100%;
    min-width: 25%;
    margin: 20px;
}

.userSelection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label, input, button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
}

.searchPrompt {
    font-size: 20px;
    font-weight: bold;
}

#citySelection {
    border: 2px solid black;
    text-transform: uppercase;
}

#searchButton {
    border: none;
    background-color: dodgerblue;
}

.selectionHistory {
    display: block;
    background-color: grey;
    width: 100%;
    padding: 5px 5px;
    margin-top: 10px;
    text-align: center;
}

.weatherOutput {
    margin-right: 5px;
    border: black;
}

#selectedCity {
    min-width: 70%;
    padding: 10px;
    border: 2px solid black ;
    margin-top: 20px;
}

#selectedCityName {
    font-size: 20px;
    font-weight: bold;
}

#weatherIcon {
    margin-left: 30px;
}

.weatherToday {
    list-style: none;
}
 
#fiveDayForecast {
    margin-top: 10px;
}

#fiveDays {
    display: flex; 
    flex-flow: row, nowrap;
    margin-top: 5px;
}

.dailyCard {
    color: white;
    background-color:navy;
    margin-right: 15px;
    padding: 5px 30px 5px 5px;
    text-align: left;
}

p {
    width: 100%;
    padding: 5px 5px;
    margin-top: 10px;
}